/* meetingtable.css */

.meeting-table-container {
  
    width: 90%;
 color: black;
  background: #ddd;
   
  }
  .meeting-table-wrapper {
    overflow-y: auto;
    max-height: 400px;
  }


  .meeting-table-container h5{
    font-weight: bold;
    
  }
  
  .meeting-table {
    overflow-y: auto; /* Enable vertical scrolling for tbody */
 
    width: 97%;
    border-collapse: collapse;
    background-color: #f5f5f5;
    margin-top: 20px;
  }
  
  .meeting-table th,
  .meeting-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 14px;
  }
  
  .meeting-table th {
    background-color: #e0e0e0;
  }
  
  .meeting-table td button {
    padding: 6px 10px;
    font-size: 12px;
    background-color: #ff5252;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Add background color and adjust form styles */
  .form-container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .form-label {
    font-size: 14px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  /* Adjust other styles as needed */
  h5{
    padding-left: 450px;
    padding-top: 20px;
   
  }
  .meeting-table-container{
    padding-left: 50px;
  }
  .meeting-table-container input{
    width: 150px;
    height: 30px;
    padding-left: 5px;
    font-size: 10px;
    border-radius: 10px;
  }